<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/base.css' %}">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
            <div class="sidebar-brand">
                Kwentas Klaras
            </div>
            <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>
    
        <ul class="sidebar-list">

          <li class="sidebar-list-item" id="active">
            <a href="{% url 'home' %}">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>

          <li class="sidebar-list-item dropdown" > <!-- Added dropdown class -->
            <a href="#" class="dropdown-toggle" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-symbols-outlined">diversity_3</span> Program Projects and <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Activities 
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                <a class="dropdown-item" href="{% url 'activities' %}">Activities</a>
                <a class="dropdown-item" href="{% url 'ongoing' %}">Ongoing Projects</a>
                <a class="dropdown-item" href="{% url 'finished' %}">Finished Projects</a>
            </div>
        </li>
        
        <li class="sidebar-list-item dropdown" > <!-- Added dropdown class -->
            <a href="#" class="dropdown-toggle" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="material-symbols-outlined">payments</span> Obligations and <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Disbursements
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                <a class="dropdown-item" href="{% url 'obligations' %}">Obligations</a>
              
                <a class="dropdown-item" href="{% url 'disbursements' %}">Disbursements</a>
            </div>
        </li>


        <li class="sidebar-list-item">
          <a href="{% url 'procurements' %}" >
            <span class="material-icons-outlined">shopping_cart</span> Procurements
          </a>
        </li>
        <li class="sidebar-list-item dropdown" > <!-- Added dropdown class -->
          <a href="#" class="dropdown-toggle" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="material-symbols-outlined">payments</span> Monitoring and <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Evaluation
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
              <a class="dropdown-item" href="{% url 'monitoring' %}">Monitoring</a>
            
              <a class="dropdown-item" href="{% url 'evaluation' %}">Evaluation</a>
          </div>
      </li>
      <li class="sidebar-list-item">
        <a href="{% url 'reports' %}" >
          <span class="material-icons-outlined">poll</span> Reports
        </a>
      </li>
        <li class="sidebar-list-item">
          <a href="" target="_blank">
            <span class="material-icons-outlined">savings</span> Revenue Streams
          </a>
        </li>
       
        <li class="sidebar-list-item dropdown" > <!-- Added dropdown class -->
          <a href="#" class="dropdown-toggle" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="material-symbols-outlined">person</span> Account
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
              <a class="dropdown-item" href="{% url 'register' %} target="_blank"">Register</a>
            
              <a class="dropdown-item" href="{% url 'admin:index' %}">Django Admin</a>
          </div>
      </li>



      

      

      
      <li class="sidebar-list-item">
        <a href="{% url 'logout' %}" >
          <span class="material-icons-outlined">logout</span> Logout
        </a>
      </li>
     
      </ul>
    </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title-container"> <!-- New flex container for title and select menu -->
            <div class="main-title">
                <p class="font-weight-bold">ACTIVITIES</p>
            </div>
        </div>
        <div class="select-menu">
    <div class="select-btn">
        <span class="material-icons-outlined">menu</span>Table Options
        <i class="bx bx-chevron-down"></i>
    </div>
    <ul class="options">
        <li class="option" id="add_data_option">
            <i class="bx bxl-github" style="color: #171515;"></i>
            <span class="option-text">Add Data</span>
        </li>
        <li class="option">
            <i class="bx bxl-instagram-alt" style="color: #E1306C;"></i>
            <span class="option-text">Update Data</span>
        </li>
        <li class="option">
            <i class="bx bxl-linkedin-square" style="color: #0E76A8;"></i>
            <span class="option-text">Delete Data</span>
        </li>
    </ul>
</div>
        <div class="main-cards">
          <div class="card">
            <div class="card-inner">
              <section class="table__body">
                <table id="myTable">
                    <thead>
                        <tr>
                            <th> Project ID <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Project Name <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Budget <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Department <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Date <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Action <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td>Road Concreting Project</td>
                            <td> P40,000,000.00 </td>
                            <td> Engineering Office </td>
                            <td> 4/14/24 </td>
                            <td>
                                <p class="status delivered">Finished</p>
                            </td>
                            <td> <strong> WHATTT </strong></td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td>Seawall Repair </td>
                            <td> P65,000.00 </td>
                            <td> MCWD </td>
                            <td> 4/14/24 </td>
                            <td>
                                <p class="status cancelled">Ongoing</p>
                            </td>
                            <td> <strong>$WHATT.50</strong> </td>
                        </tr>
                        <tr>
                          <td> 2 </td>
                          <td>Seawall Repair </td>
                          <td> P65,000.00 </td>
                          <td> MCWD </td>
                          <td> 4/14/24 </td>
                          <td>
                              <p class="status cancelled">Ongoing</p>
                          </td>
                          <td> <strong>$WHATT.50</strong> </td>
                      </tr>
                    </tbody>
                </table>
            </section>
            </div>
          </div>

        </div>

        <div class="main-cards-add">
          <div class="card-add">
            <div class="card-inner-add">
              <section class="table__body-add">
                <div class="addentry" id="add_form" style="display: none;">
                  <form action="{% url 'login' %}" method="post">
                      {% csrf_token %}
                      <h3 class="addentry-title">Add new Entry Form</h3>
                      {% if error %}
                      <p class="addentry-error-message">{{ error }}</p>
                      {% endif %}
                      <div class="addentry-input-div one">
                          <div class="addentry-i">
                              <i class="fas fa-user"></i>
                          </div>
                          <div class="addentry-div">
                              <h5>Name:</h5>
                              <input type="text" class="addentry-input" name="name" required>
                          </div>
                      </div>
                      <div class="addentry-input-div">
                          <div class="addentry-i">
                              <i class="fas fa-dollar-sign"></i>
                          </div>
                          <div class="addentry-div">
                              <h5>Budget:</h5>
                              <input type="text" class="addentry-input" name="budget" required>
                          </div>
                      </div>
                      <div class="addentry-input-div">
                          <div class="addentry-i">
                              <i class="fas fa-dollar-sign"></i>
                          </div>
                          
                          <div class="addentry-div">
                              <h5>Budget Source:</h5>
                              <input type="text" class="addentry-input" name="end_date" placeholder="" required>
                          </div>
                      </div>

                      <div class="addentry-input-div">
                          <div class="addentry-i">
                              <i class="fas fa-user"></i>
                          </div>
                          <div class="addentry-div">
                              <h5>Title:</h5>
                              <input type="Text class="addentry-input" name="start_date" placeholder="" required>
                          </div>
                      </div>
                      <div class="addentry-input-div">
                          <div class="addentry-i">
                              <i class="fas fa-calendar"></i>
                          </div>
                          
                          <div class="addentry-div">
                              <h5>Start Date:</h5>
                              <input type="date" class="addentry-input" name="end_date" placeholder="" required>
                          </div>
                      </div>
    
                      <div class="addentry-input-div">
                          <div class="addentry-i">
                              <i class="fas fa-calendar"></i>
                          </div>
                          
                          <div class="addentry-div">
                              <h5>End Date:</h5>
                              <input type="date" class="addentry-input" name="end_date" placeholder="" required>
                          </div>
                      </div>
    
                      <input type="submit" class="addentry-btn" value="Save">
                  </form>
              </div>
            </section>
            </div>
          </div>
        </div>

        <div class="charts">
          <div class="charts-card">
              <p class="chart-title">Overall Utilization Rate</p>
              <div id="pie-chart"></div>
              <p class="chart-title">Utilization Rate: 60%</p>
          </div>
      </div>
    </div>
      </main>
      <!-- End Main -->

    </div>

 <!-- Scripts -->
<!-- ApexCharts -->
<script>
$(document).ready(function() {
  // Add click event listener to table header th elements
  $("#myTable th").click(function() {
    // Toggle class on table to indicate expanded state
    $("#myTable").toggleClass("expanded");
  });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'KwentasApp/js/script.js' %}"></script>

<script>
const optionMenu = document.querySelector(".select-menu"),
       selectBtn = optionMenu.querySelector(".select-btn"),
       options = optionMenu.querySelectorAll(".option"),
       sBtn_text = optionMenu.querySelector(".sBtn-text");
selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       
options.forEach(option =>{
    option.addEventListener("click", ()=>{
        let selectedOption = option.querySelector(".option-text").innerText;
        sBtn_text.innerText = selectedOption;
        optionMenu.classList.remove("active");
    });
});
</script> 
<script>
  document.getElementById('add_data_option').addEventListener('click', function() {
      var form = document.getElementById('add_form');
      var mainCardsAdd = document.querySelector('.main-cards-add');

      // Toggle visibility of the form
      form.style.display = (form.style.display == 'none') ? 'block' : 'none';

      // Toggle visibility of the main-cards-add section
      mainCardsAdd.style.display = (mainCardsAdd.style.display == 'none') ? 'block' : 'none';
  });
</script>
  </body>
</html>