{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kwentas Klaras Add Data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/Obligations.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
    <div class="container">
        <div class="img">
            <img src="{% static 'KwentasApp/img/logo.png' %}">
        </div>
        <div class="login-content">
            <form action="#" method="post">
                {% csrf_token %}
                <h2 class="title">Add Budget</h2>
                {% if messages %}
                <div class="messages" id="validation-messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                <script>
                    setTimeout(function() {
                      var messagesDiv = document.querySelector('.messages');
                      if (messagesDiv) {
                        messagesDiv.style.display = 'none';
                      }
                    }, 3000);
                  </script>
                {% endif %}
                   <div class="input-div">
                      <div class="i">
                              <i class="fas fa-user"></i>
                      </div>
                      <div class="div">
                              <h5>Project Name</h5>
                              <input type="text" name="username" class="input">
                      </div>
                   </div>

                   <div class="input-div">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                          
                            <input type="date" name="username" class="input">
                    </div>
                 </div>

                 <div class="input-div">
                  <div class="i">
                          <i class="fas fa-user"></i>
                  </div>
                  <div class="div">
                          <h5>Budget</h5>
                          <input type="text" name="username" class="input">
                  </div>
               </div>
              



                <a href="{% url 'homepage' %}" class="btn-add">Add Data</a>
                <a href="{% url 'homepage' %}" class="btn-cancel">Cancel</a>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'KwentasApp/js/main.js' %}"></script>
    <script>
        document.getElementById('show-password').addEventListener('click', function () {
            var passwordInput = document.getElementById('password-input');
            var icon = document.querySelector('#show-password i');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-lock');
                icon.classList.add('fa-unlock-alt');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-unlock-alt');
                icon.classList.add('fa-lock');
            }
        });
    </script>
    <script>
        const inputs = document.querySelectorAll(".input");


function addcl(){
	let parent = this.parentNode.parentNode;
	parent.classList.add("focus");
}

function remcl(){
	let parent = this.parentNode.parentNode;
	if(this.value == ""){
		parent.classList.remove("focus");
	}
}


inputs.forEach(input => {
	input.addEventListener("focus", addcl);
	input.addEventListener("blur", remcl);
});
    </script>

<script type="text/javascript" src="{% static 'KwentasApp/js/main.js' %}"></script>
<script>
    function toggleDropdown1() {
        const servicesOptions = document.getElementById("servicesOptions");
        servicesOptions.classList.toggle("show");
    }

    function selectOption1(option) {
        const servicesInput = document.getElementById("servicesInput");
        servicesInput.value = option;
        toggleDropdown();
    }
    window.onclick = function(event) {
        if (!event.target.matches('.fas.fa-chevron-down')) {
            const servicesOptions = document.getElementById("departmentOptions");
            if (servicesOptions.classList.contains('show')) {
                servicesOptions.classList.remove('show');
            }
        }
    }
</script>

<script>
    function toggleDropdown() {
        const serOptions = document.getElementById("departmentOptions");
        departmentOptions.classList.toggle("show");
    }

    function selectOption(option) {
        const departmentInput = document.getElementById("departmentInput");
        departmentInput.value = option;
        toggleDropdown();
    }

    // Close dropdown when clicking outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.fas.fa-chevron-down')) {
            const departmentOptions = document.getElementById("departmentOptions");
            if (departmentOptions.classList.contains('show')) {
                departmentOptions.classList.remove('show');
            }
        }
    }
</script>



</body>
</html>
