<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-REkIOwLjNfkdczJxZtWKJ68Scw8rtr1HQ1nlWzww99fTVd1dMqA9Xn4e+eNm/TZNPpiQNB6q7BsYRKj7hlLqdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>


    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/base.css' %}">
  </head>
  <body>
    <div class="grid-container">
        
      <!-- Main -->
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Convert | Export html Table to CSV & EXCEL File</title>
    </head>
    
    <body>
        <main class="table" id="customers_table">
            <section class="table__header">
                <h1><a href="{% url 'continuing_projects'%}" style="text-decoration: none;color: initial;"> Continuing Projects Data</a></h1>
                
                
                <div class="input-group">
                    <form method="GET" action="{% url 'search_continuing_projects' %}" >
                        <input type="text" name="query" placeholder="Search Ongoing Projects...">

                    </div>


                        <button type="submit" class="status delivered" style="width: 10%;font-size: 20px;">Search</button>

                    </form>
                    
                <div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Export File"></label>
                    <input type="checkbox" id="export-file">
                    <div class="export__file-options">
                        <label>Export As &nbsp; &#10140;</label>
                        <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                        <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                        <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                        <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                    </div>
                </div>
            </section>
            <section class="table__body">




                <table>
                    <thead>
                        <tr>
                            <th> P/P/A <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Implementing Unit <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Code <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Year <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Add Data<span class="icon-arrow">&UpArrow;</span></th>
                            <th> Action <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>


                        {% if matched_entries_below_2024 %}
                {% for entry in matched_entries_below_2024 %}
                        <tr>
                            <td class="ppa" onclick="showDetails('{{ entry.code }}')">{{ entry.ppa }}</td>
                             <td class="implementing-unit">{{ entry.implementing_unit }}</td>
                              <td class="code">{{ entry.code }}</td>
                            <td class="code">{{ entry.year }}</td>
                            <td>
                                <button class="status delivered"><a href="" id="obligation-link"  style="text-decoration: none; font-size: 20px;color: white;">Obligation</a></button>
                                <button class="status delivered"><a href="" id="budget-link"  style="text-decoration: none;  font-size: 20px;color: white;">Budget</a></button>
                            </td>
                            <td> <button class="status update"><a href=""  id="update-link"  style="text-decoration: none; font-size: 20px;color: white;">Update</a></button>
                                </td>
                        </tr>
                        {% endfor %}
                        {% else %}

                        {% for entry in entries_below_2024 %}
                        <tr>
                        <td class="ppa" onclick="showDetails('{{ entry.code }}')">{{ entry.ppa }}</td>
                         <td class="implementing-unit">{{ entry.implementing_unit }}</td>
                          <td class="code">{{ entry.code }}</td>
                        <td class="code">{{ entry.year }}</td>
                        <td>
                            <button class="status delivered"><a href="" id="obligation-link"  style="text-decoration: none; font-size: 20px;color: white;">Obligation</a></button>
                            <button class="status delivered"><a href="" id="budget-link"  style="text-decoration: none; font-size: 20px;color: white;">Budget</a></button>
                        </td>
                        <td> <button class="status update"><a href=""  id="update-link"  style="text-decoration: none; font-size: 20px;color: white;">Update</a></button>
                            </td>
                    </tr>
                    {% endfor %}
            {% endif %}

                    </tbody>
                </table>













            </section>
        </main>
    </div>


    <div class="container">
        <div class="card">
            <div class="card-content">
            <div class="login-container">
                <div class="login-content">



                <form action="#" method="post">
                    {% csrf_token %}
                    <h2 class="title">Add Obligation</h2>
                    {% if messages %}
                    <div class="messages" id="validation-messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                    </div>
                    <script>
                    setTimeout(function() {
                        var messagesDiv = document.querySelector('.messages');
                        if (messagesDiv) {
                        messagesDiv.style.display = 'none';
                        }
                    }, 3000);
                    </script>
                    {% endif %}
                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Project Name</h5>
                        <input type="text" name="username" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Date</h5>
                        <input type="date" name="username" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Spent</h5>
                        <input type="text" name="username" class="input">
                    </div>
                    </div>
                    <a href="{% url 'homepage' %}" style="text-decoration: none;" class="btn-add">Add Data</a>
                    <a href="{% url 'homepage' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    <div class="button-container">
        <form action="{% url 'homepage' %}" method="post" class="inline-form">
        <button class="Btn">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Back</div>
          </button>
        </form>
    </div>    
    

    
    <div class="container" id="budget">
        <div class="card">
            <div class="card-content">
            <div class="login-container">
                <div class="login-content">


                    
                <form action="#" method="post">
                    {% csrf_token %}
                    <h2 class="title">Add Budget</h2>
                    {% if messages %}
                    <div class="messages" id="validation-messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                    </div>
                    <script>
                    setTimeout(function() {
                        var messagesDiv = document.querySelector('.messages');
                        if (messagesDiv) {
                        messagesDiv.style.display = 'none';
                        }
                    }, 3000);
                    </script>
                    {% endif %}
                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Project Name</h5>
                        <input type="text" name="username" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Date</h5>
                        <input type="date" name="username" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Spent</h5>
                        <input type="text" name="username" class="input">
                    </div>
                    </div>
                    <a href="{% url 'homepage' %}" style="text-decoration: none;" class="btn-add">Add Data</a>
                    <a href="{% url 'ongoing' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    



    
    <div class="container" id="update">
        <div class="card">
            <div class="card-content">
            <div class="login-container">
                <div class="login-content">
                     <form action="#" method="post">
                {% csrf_token %}
                <h2 class="title">Add Data Form</h2>
                {% if messages %}
                <div class="messages" id="validation-messages">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                <script>
                    setTimeout(function() {
                      var messagesDiv = document.querySelector('.messages');
                      if (messagesDiv) {
                        messagesDiv.style.display = 'none';
                      }
                    }, 3000);
                  </script>
                {% endif %}
                   <div class="input-div">
                      <div class="i">
                              <i class="fas fa-info"></i>
                      </div>
                      <div class="div">
                              <h5>PPA</h5>
                              <input type="text" name="username" class="input">
                      </div>
                   </div>

                <div class="input-div">
                    <div class="i">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="drop">
                        <input type="text" name="department" placeholder="Implementing Department" onclick="toggleDropdown()" id="departmentInput" readonly>
                        <i class="fas fa-chevron-down" id="dropdownArrow" onclick="toggleDropdown()"></i>
                        <ul class="content" id="departmentOptions">
                            <li onclick="selectOption('IT Office')">IT Office</li>
                            <li onclick="selectOption('Engineering Office')">Engineering Office</li>
                            <li onclick="selectOption('Treasurers Office')">Treasurers Office</li>
                            <li onclick="selectOption('Tourism Office')">Tourism Office</li>
                            <li onclick="selectOption('Mayor Office')">Mayor Office</li>
                        </ul>
                    </div>
                </div>
                   
                   <div class="input-div">
                      <div class="i">
                              <i class="fas fa-location-arrow"></i>
                      </div>
                      <div class="div">
                              <h5>Location</h5>
                              <input type="text" name="email" class="input">
                      </div>
                   </div>

                   

                 <div class="input-div">
                    <div class="i">
                            <i class="fas fa-registered"></i>
                    </div>
                    <div class="div">
                            <h5>Remarks</h5>
                            <input type="text" name="email" class="input">
                    </div>
                 </div>


                 <div class="input-div">
                    <div class="i">
                            <i class="fas fa-calendar-times"></i>
                    </div>
                    <div class="div">
       
                            <input type="date" name="email" class="input" placeholder="&#8203">
                    </div>
                 </div>

                 <div class="input-div">
                    <div class="i">
                            <i class="fas fa-calendar-check"></i>
                    </div>
                    <div class="div">
        
                            <input type="date" name="email" class="input" placeholder="">
                    </div>
                 </div>

                 <div class="input-div">
                    <div class="i">
                            <i class="fas fa-hashtag"></i>
                    </div>
                    <div class="div">
                            <h5>Code</h5>
                            <input type="number" name="email" class="input">
                    </div>
                 </div>

                 <div class="input-div">
                    <div class="i">
                        <i class="fas fa-search-plus"></i>
                    </div>
                    <div class="drop">
                        <input type="text" name="services" placeholder="Services" onclick="toggleDropdown1()" id="servicesInput" readonly>
                        <i class="fas fa-chevron-down" id="dropdownArrow" onclick="toggleDropdown1()"></i>
                        <ul class="content" id="servicesOptions">
                            <li onclick="selectOption1('Service 1')">Service 2</li>
                            <li onclick="selectOption1('Service 2')">Service 2</li>
                        </ul>
                    </div>
                </div>

                <div class="input-div">
                    <div class="i">
                            <i class="fas fa-calendar-week"></i>
                    </div>
                    <div class="div">
                            <h5>Year</h5>
                            <input type="number" name="email" class="input">
                    </div>
                 </div>



                 <a href="{% url 'homepage' %}" style="text-decoration: none;" class="btn-add">Add Data</a>
                 <a href="{% url 'ongoing' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
            </form>
                </div>
            </div>
            </div>
        </div>
        </div>











 <!-- Scripts -->
 <script>
    document.addEventListener('DOMContentLoaded', function() {
        const overlay = document.createElement('div');
        overlay.className = 'overlay';
        document.body.appendChild(overlay);
    
        const exitLinks = document.querySelectorAll('.btn-cancel');
        
        function toggleContainer(linkId, containerId) {
            const link = document.getElementById(linkId);
            const container = document.querySelector(containerId);
            
            link.addEventListener('click', function(event) {
                event.preventDefault();
                overlay.style.display = 'block';
                container.classList.remove('fade-out');
                container.classList.add('fade-in');
                container.style.display = 'block';
            });
    
            exitLinks.forEach(exitLink => {
                exitLink.addEventListener('click', function(event) {
                    event.preventDefault();
                    container.classList.remove('fade-in');
                    container.classList.add('fade-out');
                    setTimeout(() => {
                        container.style.display = 'none';
                        overlay.style.display = 'none';
                    }, 500); // Match this duration with the CSS transition duration
                });
            });
        }
    
        toggleContainer('obligation-link', '.container');
        toggleContainer('budget-link', '#budget');
        toggleContainer('update-link', '#update');
    });
    </script>
    
    
    


<script>
    function toggleDropdown() {
        const serOptions = document.getElementById("departmentOptions");
        departmentOptions.classList.toggle("show");
    }

    function selectOption(option) {
        const departmentInput = document.getElementById("departmentInput");
        departmentInput.value = option;
        toggleDropdown();
    }

    // Close dropdown when clicking outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.fas.fa-chevron-down')) {
            const departmentOptions = document.getElementById("departmentOptions");
            if (departmentOptions.classList.contains('show')) {
                departmentOptions.classList.remove('show');
            }
        }
    }
</script>


<script>
    function toggleDropdown1() {
        const servicesOptions = document.getElementById("servicesOptions");
        servicesOptions.classList.toggle("show");
    }

    function selectOption1(option) {
        const servicesInput = document.getElementById("servicesInput");
        servicesInput.value = option;
        toggleDropdown();
    }
    window.onclick = function(event) {
        if (!event.target.matches('.fas.fa-chevron-down')) {
            const servicesOptions = document.getElementById("departmentOptions");
            if (servicesOptions.classList.contains('show')) {
                servicesOptions.classList.remove('show');
            }
        }
    }
</script>












</script>
<script>
$(document).ready(function() {
  // Add click event listener to table header th elements
  $("#myTable th").click(function() {
    // Toggle class on table to indicate expanded state
    $("#myTable").toggleClass("expanded");
  });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'KwentasApp/js/script.js' %}"></script>
<script>
  const optionMenu = document.querySelector(".select-menu"),
         selectBtn = optionMenu.querySelector(".select-btn"),
         options = optionMenu.querySelectorAll(".option"),
         sBtn_text = optionMenu.querySelector(".sBtn-text");
  selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       
  options.forEach(option =>{
      option.addEventListener("click", ()=>{
          let selectedOption = option.querySelector(".option-text").innerText;
          sBtn_text.innerText = selectedOption;
          optionMenu.classList.remove("active");
      });
  });
  </script>   
  </body>
</html>