{% load humanize %} {% load static %}
<!DOCTYPE html>
<html lang="en"> {% csrf_token %} <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{% static 'KwentasApp/img/logobrowser.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disbursements</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Material Icons -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <!-- Same CSS as Continuing Projects-->
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/continuing.css' %}">
  </head>
  <body>
    <div class="overlay" id="overlay"></div>



    <main class="table{% if not request.user.is_superuser %} non-superuser{% endif %}" id="customers_table">
      <section class="table__header">
        <h1>Disbursements</h1>
        <div class="input-group">
          <form method="GET" action="{% url 'disbursements' %}">
            <input type="text" name="query" placeholder="Search Disbursements...">
        </div>
        <div class="export__file">
          <button type="submit" class="export__file-btn">Search</button>
          </form>
        </div>
      </section>
      <section class="table__body">
        <table class="table">
            <thead>
                <tr>
                  <th class="left-align">PPA</th>
                 
                    <th>Remaining Obligations</th>
                    <th>Total Obligation</th>
                    {% if request.user.is_superuser or request.user.department == 'Accountant Office' %}
                        <th>Add</th>
                       
                    {% endif %}
                </tr>
            </thead>
            <tbody>
              {% if matched_entries %}
              {% for entry in matched_entries %}
              <tr style="cursor: pointer;">
                  <td class="ppa" onclick="showDetails('{{ entry.code }}')">{{ entry.ppa }}</td>
                 
                  <td class="code" onclick="showDetails('{{ entry.code }}')">₱{{ entry.remaining_obligations|intcomma }}</td>
                  <td class="year" onclick="showDetails('{{ entry.code }}')">₱{{ entry.total_obligations|intcomma }}</td>
                  {% if request.user.is_superuser or request.user.department == 'Accountant Office' %}
                      <td>
                        {% if entry.is_awarded %}
                          <p class="status obligation" onclick="showAddDisbursementForm('{{ entry.code }}')">Disburse</p>
                          {% else %}
                          Project needs to be Awarded
                          {% endif %}
                      </td>
                  {% endif %}
              </tr>
              {% endfor %}
          {% elif page_obj and not query %}
              {% for entry in page_obj %}
                  <tr style="cursor: pointer;">
                      <td class="ppa" onclick="showDetails('{{ entry.code }}')">{{ entry.ppa }}</td>
                    
                      <td class="code" onclick="showDetails('{{ entry.code }}')">{{  entry.remaining_obligations }}</td>
                      <td class="year" onclick="showDetails('{{ entry.code }}')">{{ entry.total_obligations }}</td>
                      {% if request.user.is_superuser or request.user.department == 'Accountant Office' %}
                          <td>
                            {% if entry.is_awarded %}
                            <p class="status obligation" onclick="showAddDisbursementForm('{{ entry.code }}')">Disburse</p>
                            {% else %}
                            Project needs to be Awarded
                            {% endif %}
                          </td>
                      {% endif %}
                  </tr>
              {% endfor %}
          {% else %}
              <tr>
                  <td colspan="6">No projects found.</td>
              </tr>
          {% endif %}
          
            </tbody>
        </table>
    </section>
    {% if not request.user.is_superuser %}
    <style>
      .left-align {
          text-align: left !important;
      }
  
      .non-superuser .table th:nth-child(5), 
      .non-superuser .table th:nth-child(6),
      .non-superuser .table td:nth-child(5), 
      .non-superuser .table td:nth-child(6) {
          display: none;
      }
  </style>
{% endif %}
  <div class="back">
      <a href="{% url 'homepage' %}">
          <button class="back-btn">Back</button>
      </a>
  </div>


  <div class="pagination">
      <ul class="pagination-list">
          {% if page_obj.has_previous %}
              <li class="pagination-item"><a href="?page=1">&laquo; First</a></li>
              <li class="pagination-item"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% else %}
              <li class="pagination-item disabled"><span>&laquo; First</span></li>
              <li class="pagination-item disabled"><span>Previous</span></li>
          {% endif %}
          
          <li class="pagination-item active"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
          
          {% if page_obj.has_next %}
              <li class="pagination-item"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
              <li class="pagination-item"><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
          {% else %}
              <li class="pagination-item disabled"><span>Next</span></li>
              <li class="pagination-item disabled"><span>Last &raquo;</span></li>
          {% endif %}
      </ul>
  </div>
</main>





    <!-- DETAILS  -->
    <div class="details" id="details">
      <a href="{% url 'disbursements' %}">
        <i class="material-icons x" id="exit">close</i>
      </a>
      <a href="{% url 'disbursements' %}">
        <h1 class="form-title">PROJECT DETAILS</h1>
      </a>
      <ul> {% for entry in all_entries %} <li class="entry-item" id="details-{{ entry.code }}" style="display: none;">
          <div class="details-container">
            <div class="main-user-info" id="main-detail">
              <div class="user-input-box">
                <p class="label">PPA</p>
                <p id="fullName" class="user-text">{{ entry.ppa }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Implementing Unit</p>
                <p id="username" class="user-text">{{ entry.implementing_unit }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Location</p>
                <p id="email" class="user-text">{{ entry.location }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Appropriation</p>
                <p id="phoneNumber" class="user-text">₱{{ entry.appropriation|intcomma }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Remarks</p>
                <p id="password" class="user-text">{{ entry.remarks }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Start Date</p>
                <p id="confirmPassword" class="user-text">{{ entry.start_date }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">End Date</p>
                <p id="endDate" class="user-text">{{ entry.end_date }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Code</p>
                <p id="code" class="user-text">{{ entry.code }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Services</p>
                <p id="services" class="user-text">{{ entry.services }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Year</p>
                <p id="year" class="user-text">{{ entry.year }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Total Budget</p>
                <p id="totalBudget" class="user-text">₱{{ entry.overall_budget|intcomma }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Total Spent</p>
                <p id="totalAddedBudget" class="user-text">₱{{ entry.total_disbursements|intcomma }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Total Added Budget</p>
                <p id="totalSpent" class="user-text">₱{{ entry.added_budget|intcomma }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Remaining Balance</p>
                <p id="remainingBalance" class="user-text">₱{{ entry.remaining_total_balance|intcomma }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Remaining Obligation</p>
                <p id="remainingObligations" class="user-text">₱{{ entry.remaining_obligations|intcomma }}</p>
              </div>
              <div class="user-input-box">
                <p class="label">Total Obligation</p>
                <p id="totalObligations" class="user-text">₱{{ entry.total_obligations|intcomma }}</p>
              </div>
            </div>
            <div class="chart-container" data-entry-code="{{ entry.code }}" id="chart">
              <div class="user-input-box">
                <p class="label">Utilization Rate: </label></p>
                <span class="utilizationRate">{{ entry.utilization_rate|floatformat:"-2" }} %</span>
              </div>
              <canvas class="pie-chart"></canvas>
            </div>
          </div>
          <div class="tables-container">
            <div class="table-box">
              <span class="table-title">Added Budget</span>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody> {% for budget in entry.budget_data %} <tr>
                      <td>{{ budget.name|intcomma }}</td>
                      <td>₱{{ budget.added_budget|intcomma }}</td>
                      <td>{{ budget.date }}</td>
                    </tr> {% endfor %} </tbody>
                </table>
              </div>
            </div>
            <div class="table-box">
              <span class="table-title">Added Obligation</span>
              <br>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody> {% for obligation in entry.obligation %} <tr>
                      <td>{{ obligation.name }}</td>
                      <td>₱{{ obligation.obligation|intcomma }}</td>
                      <td>{{ obligation.date}}</td>
                    </tr> {% endfor %} </tbody>
                </table>
              </div>
            </div>


            <div class="table-box">
              <span class="table-title">Added Disbursements</span>
              <br>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody> {% for disbursement in entry.disbursement %} <tr>
                      <td>{{ disbursement.name }}</td>
                      <td>₱{{ disbursement.disbursement|intcomma }}</td>
                      <td>{{ disbursement.date}}</td>
                    </tr> {% endfor %} </tbody>
                </table>
              </div>
            </div>
          </div>
        </li> {% endfor %} </ul>
    </div>
  
  
    <!-- Disbursement-->
    <div class="details" id="disbursement">
      <div class="login-content">
        <form id="add-obligation-form" action="{% url 'add_disbursement' 'disbursement' %}" method="post"> {% csrf_token %} <h2 class="title">Add Disbursement</h2>
          <br>
          <br>
          <input type="hidden" name="entry-code" id="disbursement-code">
          <div class="input-div-new">
            <div class="div">
              <p class="inputs-label" style="white-space: nowrap;">Disbursement Name</p>
              <!-- Use label instead of h5 -->
              <input type="text" name="disbursement_name" class="input">
            </div>
          </div>
          <div class="input-div-new">
            <div class="div">
              <p class="inputs-label">Date</p>
              <!-- Use label instead of h5 -->
              <input type="date" name="disbursement_date" class="input">
            </div>
          </div>
          <div class="input-div-new">
            <div class="div">
              <p class="inputs-label" style="white-space: nowrap;">Disbursement Amount</p>
              <!-- Use label instead of h5 -->
              <input type="text" name="disbursement_input" class="input">
            </div>
          </div>
          <button type="submit" class="btn-add" value="Submit">Submit</button>
          <a href="{% url 'disbursements' %}" class="btn-cancel" style="text-decoration: none; color: white;">Exit</a>
        </form>
      </div>
    </div>
  

    
    <!------------------------------------------------------ JAVASCRIPT-------------------------------------------------->
  
    <!-- PIE CHART JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var chartContainers = document.querySelectorAll('.chart-container');
        chartContainers.forEach(function(container) {
          var utilizationRateElement = container.querySelector('.utilizationRate');
          var utilizationRate = parseFloat(utilizationRateElement.textContent);
          var remainingPercentage = 100 - utilizationRate;
          var canvas = container.querySelector('.pie-chart');
          var ctx = canvas.getContext('2d');
          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: ['Utilized', 'Remaining'],
              datasets: [{
                data: [utilizationRate, remainingPercentage],
                backgroundColor: ['rgba(0, 123, 255, 0.6)', // Utilized (blue)
                  'rgba(135, 206, 235, 0.6)' // Remaining (sky blue)
                ],
                borderColor: ['rgba(0, 123, 255, 1)', 'rgba(135, 206, 235, 1)'],
                borderWidth: 1
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Utilization Rate'
              },
              animation: {
                animateScale: true,
                animateRotate: true
              }
            }
          });
        });
      });
    </script>
    <!-- Details js -->
    <script>
      function showDetails(code) {
        document.getElementById('customers_table').style.filter = 'blur(10px)';
        document.getElementById('overlay').style.display = 'block';
        var details = document.getElementsByClassName('entry-item');
        for (var i = 0; i < details.length; i++) {
          details[i].style.display = 'none';
        }
        document.getElementById('details-' + code).style.display = 'block';
        document.getElementById('details').style.display = 'block';
      }
    </script>
   
  


    <!-- Disbursement js -->
    <script>
      function showAddDisbursementForm(entryCode) {
        document.getElementById('disbursement-code').value = entryCode;
        document.getElementById('disbursement').style.display = 'block';
        document.getElementById('customers_table').style.filter = 'blur(10px)';
        document.getElementById('overlay').style.display = 'block';
      }
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Get the form element
        var form = document.getElementById('add-obligation-form');
        // Add submit event listener to the form
        form.addEventListener('submit', function(event) {
          event.preventDefault(); // Prevent the default form submission
          // Show SweetAlert confirmation dialog
          Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to add this disbursement? This will alter data',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, submit',
            cancelButtonText: 'No, cancel',
            confirmButtonColor: '#28a745', // Green color for the confirm button
            cancelButtonColor: '#dc3545' // Red color for the cancel button
          }).then((result) => {
            // If the user confirms, submit the form
            if (result.isConfirmed) {
              form.submit();
            }
          });
        });
      });
    </script>
      
    <script>
      function hideOverlay() {
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('customers_table').style.filter = 'none';
        var details = document.getElementById('details');
        if (details) details.style.display = 'none';
        
       
        var disbursement = document.getElementById('disbursement');
        if (disbursement) disbursement.style.display = 'none';
       
      }
      document.getElementById('overlay').addEventListener('click', hideOverlay);
    </script>
  </body>
</html>