<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/base.css' %}">
  </head>
  <body>
    <div class="grid-container">

      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DISBURSEMENTS</p>
        </div>
        <div class="main-cards">
          <div class="card">
            <div class="card-inner">
              <section class="table__body">
                <table id="myTable">
                    <thead>
                        <tr>
                            <th> Project ID <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Project Name <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Budget <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Department Date <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Action <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td>Road Concreting Project</td>
                            <td> P40,000,000.00 </td>
                            <td> Engineering Office </td>
                            <td>
                                <p class="status delivered">Finished</p>
                            </td>
                            <td> <strong> WHATTT </strong></td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td>Seawall Repair </td>
                            <td> P65,000.00 </td>
                            <td> MCWD </td>
                            <td>
                                <p class="status cancelled">Ongoing</p>
                            </td>
                            <td> <strong>$WHATT.50</strong> </td>
                        </tr>
                        <tr>
                          <td> 2 </td>
                          <td>Seawall Repair </td>
                          <td> P65,000.00 </td>
                          <td> MCWD </td>
                          <td>
                              <p class="status cancelled">Ongoing</p>
                          </td>
                          <td> <strong>$WHATT.50</strong> </td>
                      </tr>
                    </tbody>
                </table>
            </section>
            </div>
          </div>

        </div>

        
          
    
      </div>
      </main>
      <!-- End Main -->

    </div>

 <!-- Scripts -->
<!-- ApexCharts -->
<script>
$(document).ready(function() {
  // Add click event listener to table header th elements
  $("#myTable th").click(function() {
    // Toggle class on table to indicate expanded state
    $("#myTable").toggleClass("expanded");
  });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'KwentasApp/js/script.js' %}"></script>

<script>






</script>





  
    
  </body>
</html>