{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kwentas Klaras - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/forgotpassword.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
    <div class="container">
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Forgotten Password?</h3>
          <p class="text">
            If you’ve forgotten your password, don’t worry! Enter your email address below and we’ll send you instructions on how to reset it.
          </p>
          <div class="img">
            <img src="{% static 'KwentasApp/img/logo.png' %}">
        </div>
        </div>

        <div class="contact-form">
          <form action="index.html" autocomplete="off">
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email Address</label>
              <span>Email Address</span>
            </div>
            <div class="input-container">
              <input type="text" name="code" class="input" />
              <label for="">Email Verification Code</label>
              <span>Email Verification Code</span>
            </div>
            <div class="input-container">
              <input type="password" name="password" class="input" />
              <label for="">New password</label>
              <span>New password</span>
            </div>
            <div class="input-container">
                <input type="password" name="password2" class="input" />
                <label for="">Enter password again</label>
                <span>Enter password again</span>
              </div>
            <input type="submit" value="Change Password" class="btn" />
          </form>
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
