<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% csrf_token %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-REkIOwLjNfkdczJxZtWKJ68Scw8rtr1HQ1nlWzww99fTVd1dMqA9Xn4e+eNm/TZNPpiQNB6q7BsYRKj7hlLqdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>


    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/current.css' %}">
  </head>
  <body>
    <div class="grid-container">
        
      <!-- Main -->
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Convert | Export html Table to CSV & EXCEL File</title>
    </head>
    
    <body>
        <main class="table" id="customers_table">
            <section class="table__header">
                <h1><a href="{% url 'ongoing_projects'%}" style="text-decoration: none;color: initial;"> Current Projects Data</a></h1>
                
                <div class="input-group">
                    <form method="GET" action="{% url 'search_ongoing_projects' %}" >
                        <input type="text" name="query" placeholder="Search Ongoing Projects...">
                    </div>


                        <button type="submit" class="status delivered" style="width: 10%;font-size: 20px; margin-right: 230px;">Search</button>

                    </form>
            </section>
            <section class="table__body">




                <table>
                    <thead>
                        <tr>
                            <th> P/P/A <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Implementing Unit <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Code <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Year <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Add Data<span class="icon-arrow">&UpArrow;</span></th>
                            <th> Action <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if matched_entries_2024_and_above %}
                            {% for entry in matched_entries_2024_and_above %}
                                <tr>
                                    <td class="ppa" onclick="showDetails('{{ entry.code }}')">{{ entry.ppa }}</td>
                                    <td class="implementing-unit">{{ entry.implementing_unit }}</td>
                                    <td class="code">{{ entry.code }}</td>
                                    <td class="year">{{ entry.year }}</td>
                                    <td>
                                        <button class="status delivered" onclick="showAddObligationForm('{{ entry.code }}')">
                                            <a id="obligation-link" style="text-decoration: none; font-size: 20px; color: white;">Obligation</a>
                                        </button>
                                        <button class="status delivered" onclick="showAddBudget('{{ entry.code }}')">
                                            <a id="budget-link" style="text-decoration: none; font-size: 20px; color: white;">Budget</a>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="status update" onclick="showUpdateForm('{{ entry.code }}')">
                                            <a id="update-link" style="text-decoration: none; font-size: 20px; color: white;">Update</a>
                                        </button>
                                        <button class="status update" onclick="showDeleteForm('{{ entry.code }}')">
                                            <a id="delete-link" style="text-decoration: none; font-size: 20px; color: white;">Delete</a>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for entry in entries_2024_and_above %}
                                <tr>
                                    <td class="ppa" onclick="showDetails('{{ entry.code }}')">{{ entry.ppa }}</td>
                                    <td class="implementing-unit">{{ entry.implementing_unit }}</td>
                                    <td class="code">{{ entry.code }}</td>
                                    <td class="year">{{ entry.year }}</td>
                                    <td>
                                        <button class="status delivered" onclick="showAddObligationForm('{{ entry.code }}')">
                                            <a id="obligation-link" style="text-decoration: none; font-size: 20px; color: white;">Obligation</a>
                                        </button>
                                        <button class="status delivered" onclick="showAddBudget('{{ entry.code }}')">
                                            <a id="budget-link" style="text-decoration: none; font-size: 20px; color: white;">Budget</a>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="status update" onclick="showUpdateForm('{{ entry.code }}')">
                                            <a id="update-link" style="text-decoration: none; font-size: 20px; color: white;">Update</a>
                                        </button>
                                        <button class="status update" onclick="showDeleteForm('{{ entry.code }}')">
                                            <a id="delete-link" style="text-decoration: none; font-size: 20px; color: white;">Delete</a>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>













            </section>
        </main>
    </div>




  <!-- obligation -->
   
    <div class="container" id="obligation">
        <div class="card">
            <div class="card-content">
            <div class="login-container">
                <div class="login-content">



                <form id="add-obligation-form" action="{% url 'ongoing_add_obligation' %}" method="post">
                    {% csrf_token %}
                    <h2 class="title">Add Obligation Form</h2>
                    <br>
                    <input type="hidden" name="entry-code" id="obligation-code">



                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Name</h5>
                        <input type="text" name="obligation_name" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Date</h5>
                        <input type="date" name="obligation_date" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Spent</h5>
                        <input type="text" name="obligation_spent" class="input">
                    </div>
                    </div>

                    <button type="submit" class="btn-add" value="Submit">Submit</button>
                    <a href="{% url 'ongoing_projects' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div> 

    <div class="button-container">
        <form action="{% url 'homepage' %}" method="post" class="inline-form">
        {% csrf_token %}
        <button class="Btn">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Back</div>
          </button>
        </form>
    </div>    
    
  <!-- Budget -->
    
    <div class="container" id="budget">
        <div class="card">
            <div class="card-content">
            <div class="login-container">
                <div class="login-content">


                    
                    <form id="add-budget-form" action="{% url 'add_budget' %}" method="post">
                    
                        {% csrf_token %}
                        <h2 class="title">Add Budget Form</h2><br><br>
                        <input type="hidden" name="entry_code" id="budget-code">

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Budget Name</h5>
                        <input type="text" name="budget_name" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Date</h5>
                        <input type="date" name="budget_date" class="input">
                    </div>
                    </div>

                    <div class="input-div">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Added Budget</h5>
                        <input type="text" name="added_budget" class="input">
                    </div>
                    </div>
                    <button type="submit" class="btn-add" value="Submit">Submit</button>
                    <a href="{% url 'ongoing_projects' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    









<!-- Update-->
    
<div class="container" id="update">
    <div class="card">
        <div class="card-content">
            <div class="login-container">
                <div class="login-content">

                    {% for entry in all_entries %}
                    <form id="updateForm_{{ entry.code }}" action="{% url 'ongoing_update_entry' %}" method="post">
                        {% csrf_token %}

                        <h2 class="title">Update Form</h2><br><br>

                        <input type="hidden" name="entry_code" value="{{ entry.code }}">

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-info"></i>
                            </div>
                            <div class="div">
                                <h5>PPA</h5>
                                <input type="text" name="ppa" class="input" value="{{ entry.ppa }}">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-building"></i>
                            </div>
                            <div class="drop">
                                <input type="text" name="implementing_unit" placeholder="Implementing Department" onclick="toggleDropdown('departmentOptions_{{ entry.code }}')" id="departmentInput_{{ entry.code }}" readonly value="{{ entry.implementing_unit }}">
                                <i class="fas fa-chevron-down" onclick="toggleDropdown('departmentOptions_{{ entry.code }}')"></i>
                                <div class="dropdown-container">
                                    <ul class="content" id="departmentOptions_{{ entry.code }}">
                                        <li onclick="selectOption('Mayor\'s Office', 'departmentInput_{{ entry.code }}')">Mayor's Office</li>
                                        <li onclick="selectOption('Tourism Office', 'departmentInput_{{ entry.code }}')">Tourism Office</li>
                                        <li onclick="selectOption('PESO Office', 'departmentInput_{{ entry.code }}')">PESO Office</li>
                                        <li onclick="selectOption('MDRRMO', 'departmentInput_{{ entry.code }}')">MDDRMO</li>
                                        <li onclick="selectOption('Sanguniang Barangay Office', 'departmentInput_{{ entry.code }}')">Sanguniang Barangay Office</li>
                                        <li onclick="selectOption('MPDC', 'departmentInput_{{ entry.code }}')">MPDC</li>
                                        <li onclick="selectOption('MCR Office', 'departmentInput_{{ entry.code }}')">MCR Office</li>
                                        <li onclick="selectOption('MBO Office', 'departmentInput_{{ entry.code }}')">MBO Office</li>
                                        <li onclick="selectOption('Accountant Office', 'departmentInput_{{ entry.code }}')">Accountant Office</li>
                                        <li onclick="selectOption('Assessor\'s Office', 'departmentInput_{{ entry.code }}')">Assessor's Office</li>
                                        <li onclick="selectOption('MHO Office', 'departmentInput_{{ entry.code }}')">MHO Office</li>
                                        <li onclick="selectOption('Parks & Plaza', 'departmentInput_{{ entry.code }}')">Parks & Plaza</li>
                                        <li onclick="selectOption('MSWD Office', 'departmentInput_{{ entry.code }}')">MSWD Office</li>
                                        <li onclick="selectOption('MENRO Office', 'departmentInput_{{ entry.code }}')">MENRO Office</li>
                                        <li onclick="selectOption('MO', 'departmentInput_{{ entry.code }}')">MO</li>
                                        <li onclick="selectOption('Streets & Bridges', 'departmentInput_{{ entry.code }}')">Streets & Bridges</li>
                                        <li onclick="selectOption('LDF', 'departmentInput_{{ entry.code }}')">LDF</li>
                                        <li onclick="selectOption('Waterworks', 'departmentInput_{{ entry.code }}')">Waterworks</li>
                                        <li onclick="selectOption('Markets', 'departmentInput_{{ entry.code }}')">Markets</li>
                                        <li onclick="selectOption('Zero Waste', 'departmentInput_{{ entry.code }}')">Zero Waste</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-location-arrow"></i>
                            </div>
                            <div class="div">
                                <h5>Location</h5>
                                <input type="text" name="location" class="input" value="{{ entry.location }}">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-registered"></i>
                            </div>
                            <div class="div">
                                <h5>Remarks</h5>
                                <input type="text" name="remarks" class="input" value="{{ entry.remarks }}">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-calendar-times"></i>
                            </div>
                            <div class="div">
                                <h5>Start Date</h5>
                                <input type="date" name="start_date" class="input" value="{{ entry.start_date }}">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-calendar-check"></i>
                            </div>
                            <div class="div">
                                <h5>End Date</h5>
                                <input type="date" name="end_date" class="input" value="{{ entry.end_date }}">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-hashtag"></i>
                            </div>
                            <div class="div">
                                <h5>Code</h5>
                                <input type="text" name="code" class="input" value="{{ entry.code }}">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-search-plus"></i>
                            </div>
                            <div class="drop">
                                <input type="text" name="services" placeholder="Services" onclick="toggleDropdown('servicesOptions_{{ entry.code }}')" id="servicesInput_{{ entry.code }}" readonly value="{{ entry.services }}">
                                <i class="fas fa-chevron-down" onclick="toggleDropdown('servicesOptions_{{ entry.code }}')"></i>
                                <ul class="content" id="servicesOptions_{{ entry.code }}">
                                    <li onclick="selectOption('General', 'servicesInput_{{ entry.code }}')">General</li>
                                    <li onclick="selectOption('Social', 'servicesInput_{{ entry.code }}')">Social</li>
                                    <li onclick="selectOption('Economic', 'servicesInput_{{ entry.code }}')">Economic</li>
                                    <li onclick="selectOption('Environmental', 'servicesInput_{{ entry.code }}')">Environmental</li>
                                </ul>
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-calendar-week"></i>
                            </div>
                            <div class="div">
                                <h5>Year</h5>
                                <input type="number" name="year" class="input" value="{{ entry.year }}">
                            </div>
                        </div>

                        <button type="submit" class="btn-add" value="Submit">Submit</button>
                        <a href="{% url 'ongoing_projects' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
                    </form>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Delete-->
    

    
  <div class="container" id="delete">
    <div class="card">
        <div class="card-content">
        <div class="login-container">
            <div class="login-content">


                
                <form id="add-delete-form" action="{% url 'ongoing_delete_entry' %}" method="post">
                
                    {% csrf_token %}
                    <h2 class="title">Delete Form</h2><br><br>
                   

                <div class="input-div">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Entry Code</h5>
                    <input type="text" name="entry_code" id="delete-code">
                </div>
                </div>

               

               
                <button type="submit" class="btn-add" value="Submit">Delete</button>
                <a href="{% url 'ongoing_projects' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>










<!--Details-->


<div class="container-details" id="details">
    <div class="card-details">
        <div class="card-content">
            <div class="login-container-details">
                <div class="login-content-details">
                    <ul class="entry-list">
                        {% for entry in all_entries %}
                        <li class="entry-item" id="details-{{ entry.code }}" style="display: none;">
                            <div class="entry-details">
                                <h2>Details</h2>
                                <h4><strong>PPA:</strong> {{ entry.ppa }}</h4>
                                <h4><strong>Implementing Unit:</strong> {{ entry.implementing_unit }}</h4>
                                <h4><strong>Location:</strong> {{ entry.location }}</h4>
                                <h4><strong>Appropriation:</strong> {{ entry.appropriation }}</h4>
                                <h4><strong>Remarks:</strong> {{ entry.remarks }}</h4>
                                <h4><strong>Start Date:</strong> {{ entry.start_date }}</h4>
                                <h4><strong>End Date:</strong> {{ entry.end_date }}</h4>
                                <h4><strong>Code:</strong> {{ entry.code }}</h4>
                                <h4><strong>Services:</strong> {{ entry.services }}</h4>
                                <h4><strong>Year:</strong> {{ entry.year }}</h4>
                                <!-- Add more fields as needed -->
                                <h4><strong>Total Budget:</strong> {{ entry.total_budget }}</h4>
                                <h4><strong>Total Added Budget:</strong> {{ entry.added_budget }}</h4>
                                <h4><strong>Total Spent:</strong> {{ entry.total_spent }}</h4>
                                <h4><strong>Remaining Balance:</strong> {{ entry.remaining_balance }}</h4>
                            </div>
                            
                            <div class="entry-tables">
                                <h2>Added Budgets</h2>
                                <div class="table-container">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Budget Name</th>
                                                <th>Added Budget</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for budget in entry.budget_data %}
                                            <tr>
                                                <td>{{ budget.name }}</td>
                                                <td>{{ budget.added_budget }}</td>
                                                <td>{{ budget.date }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <h2>Obligations</h2>
                                <div class="table-container">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Obligation Name</th>
                                                <th>Spent</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for obligation in entry.obligation %}
                                            <tr>
                                                <td>{{ obligation.name }}</td>
                                                <td>{{ obligation.spent }}</td>
                                                <td>{{ obligation.date }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{% url 'ongoing_projects' %}" class="btn-cancel" style="text-decoration: none;">Exit</a>
            </div>
        </div>
    </div>
</div>

    






        
    <div class="button-container">
        <a href="{% url 'homepage'%}" style="text-decoration: none;">
        <form action="{% url 'homepage' %}" method="post">
            {% csrf_token %}
      <button type="button" class="button"><i class="fas fa-arrow-circle-left"></i> Back</button>
      </form>
    </a>
    </div>    







<!--Details-->

<script>
    function showDetails(code) {
        // Hide table and add entry form
        document.getElementById('customers_table').style.filter = 'blur(10px)';
    
        // Hide all details first
        var details = document.getElementsByClassName('entry-item');
        for (var i = 0; i < details.length; i++) {
            details[i].style.display = 'none';
        }
    
        // Show details of the clicked PPA
        document.getElementById('details-' + code).style.display = 'block';
    
        document.getElementById('details').style.display = 'block';
    }
    </script>





  <!-- update js-->
  <script>
    function showUpdateForm(code) {
        // Hide all update forms
        var allUpdateForms = document.querySelectorAll('[id^="updateForm_"]');
        allUpdateForms.forEach(function(form) {
            form.style.display = 'none';
        });
    
        // Show only the update form corresponding to the provided code
        var updateForm = document.getElementById('updateForm_' + code);
        if (updateForm) {
            updateForm.style.display = 'block';
        }
    
        // Show the container
        document.getElementById('update').style.display = 'block';
    
        // Hide the main table
        document.getElementById('customers_table').style.filter = 'blur(10px)';
    }
    </script>


  <!-- delete js-->
    <script>
        function showDeleteForm(code) {
             // Set the entry code value to the hidden input field
          document.getElementById('delete-code').value = code;
          document.getElementById('delete').style.display = 'block';
            document.getElementById('customers_table').style.filter = 'blur(10px)';
          // Show the add obligation form
        }
    </script>




  <!-- budget js-->
  <script>
    function showAddBudget(budget_code) {
      // Set the entry code value to the hidden input field
      document.getElementById('budget-code').value = budget_code;
        document.getElementById('customers_table').style.filter = 'blur(10px)';
      document.getElementById('budget').style.display = 'block';
      
     
  }
  
  </script>


<!-- Obligation -->

    <script>
        function showAddObligationForm(entryCode) {
          // Set the entry code value to the hidden input field
          document.getElementById('obligation-code').value = entryCode;
          document.getElementById('obligation').style.display = 'block';



          document.getElementById('customers_table').style.filter = 'blur(10px)';
          // Show the add obligation form
         
      }
      
      </script>












    

 
<script>
    function toggleDropdown(id) {
       const dropdown = document.getElementById(id);
       dropdown.classList.toggle("show");
   
       // Make the dropdown scrollable if it has more than 5 items
       if (dropdown.children.length > 5) {
           dropdown.style.maxHeight = "150px";
           dropdown.style.overflowY = "auto";
       } else {
           dropdown.style.maxHeight = "";
           dropdown.style.overflowY = "";
       }
   }
   
   function selectOption(option, inputId) {
       const input = document.getElementById(inputId);
       input.value = option;
       toggleDropdown(inputId.replace('Input', 'Options'));
   }
   
   // Close dropdown when clicking outside of it
   window.onclick = function(event) {
       if (!event.target.matches('.fas.fa-chevron-down')) {
           const dropdowns = document.querySelectorAll('.content.show');
           dropdowns.forEach(dropdown => {
               dropdown.classList.remove('show');
           });
       }
   };
   
   
   </script>

<script>
    function toggleDropdown1() {
        const servicesOptions = document.getElementById("servicesOptions");
        servicesOptions.classList.toggle("show");
    }

    function selectOption1(option) {
        const servicesInput = document.getElementById("servicesInput");
        servicesInput.value = option;
        toggleDropdown();
    }
    window.onclick = function(event) {
        if (!event.target.matches('.fas.fa-chevron-down')) {
            const servicesOptions = document.getElementById("departmentOptions");
            if (servicesOptions.classList.contains('show')) {
                servicesOptions.classList.remove('show');
            }
        }
    }
</script>












</script>
<script>
$(document).ready(function() {
  // Add click event listener to table header th elements
  $("#myTable th").click(function() {
    // Toggle class on table to indicate expanded state
    $("#myTable").toggleClass("expanded");
  });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
<!-- Custom JS -->

<script>
  const optionMenu = document.querySelector(".select-menu"),
         selectBtn = optionMenu.querySelector(".select-btn"),
         options = optionMenu.querySelectorAll(".option"),
         sBtn_text = optionMenu.querySelector(".sBtn-text");
  selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       
  options.forEach(option =>{
      option.addEventListener("click", ()=>{
          let selectedOption = option.querySelector(".option-text").innerText;
          sBtn_text.innerText = selectedOption;
          optionMenu.classList.remove("active");
      });
  });
  </script>   
  </body>
</html>