<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/base.css' %}">
  </head>
  <body>
    <div class="grid-container">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Convert | Export html Table to CSV & EXCEL File</title>
    </head>
    
    <body>
        <main class="table" id="customers_table">
            <section class="table__header">
                <h1>Added Obligations</h1>
                
                <div class="input-group">
                    <input type="search" placeholder="Search">
                </div>
                <div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Export File"></label>
                    <input type="checkbox" id="export-file">
                    <div class="export__file-options">
                        <label>Export As &nbsp; &#10140;</label>
                        <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                        <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                        <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                        <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                    </div>
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Obligation <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Spent <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Date <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Repir </td>
                            <td>MCWD </td>
                            <td> 1 </td>
                        </tr>
                        <tr>
                            <td> Repir </td>
                            <td>MCWD </td>
                            <td> 1 </td>
                        </tr>
                        <tr>
                            <td> Repir </td>
                            <td>MCWD </td>
                            <td> 1 </td>
                        </tr>
                        <tr>
                            <td> Repir </td>
                            <td>MCWD </td>
                            <td> 1 </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <main class="table" id="customers_table">
                <section class="table__header">
                    <h1>Added Budgets</h1>
                    
                    <div class="input-group">
                        <input type="search" placeholder="Search">
                    </div>
                    <div class="export__file">
                        <label for="export-file" class="export__file-btn" title="Export File"></label>
                        <input type="checkbox" id="export-file">
                        <div class="export__file-options">
                            <label>Export As &nbsp; &#10140;</label>
                            <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                            <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                            <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                            <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                        </div>
                    </div>
                </section>
                <section class="table__body">
                    <table>
                        <thead>
                            <tr>
                                <th> Budget Name <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Added Budget <span class="icon-arrow">&UpArrow;</span></th>
                                <th> Date <span class="icon-arrow">&UpArrow;</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Repir </td>
                                <td>MCWD </td>
                                <td> 1 </td>
                            </tr>
                            <tr>
                                <td> Repir </td>
                                <td>MCWD </td>
                                <td> 1 </td>
                            </tr>
                            <tr>
                                <td> Repir </td>
                                <td>MCWD </td>
                                <td> 1 </td>
                            </tr>
                            <tr>
                                <td> Repir </td>
                                <td>MCWD </td>
                                <td> 1 </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </main>
        </main>
    </div>
    <div class="card">
        <h1>Project Details</h1>
        <details class="info">
          <summary>PPA</summary>
          <p>Some text to be hidden.</p> 
        </details>
        
        <details class="info" open>
          <summary>Implemeting Unit</summary>
          <p></p>
        </details>
        
        <details class="info">
          <summary>Location</summary>
          <p>Some text to be hidden.</p> 
        </details>

        <details class="info">
            <summary>Appropriation</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Renarks</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Start Date</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>End Date</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Code</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Services</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Year</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Total Budget</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Total Added Budget</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Total Spent</summary>
            <p>Some text to be hidden.</p> 
          </details>

          <details class="info">
            <summary>Remaining Balance</summary>
            <p>Some text to be hidden.</p> 
          </details>
      </div>
    <div class="button-container">
        <form action="{% url 'homepage' %}" method="post">
            {% csrf_token %}
      <button type="button" class="button"><i class="fas fa-arrow-circle-left"></i> Back</button>
      </form>
    </div>    
    
 <!-- Scripts -->
<!-- ApexCharts -->
<script>
$(document).ready(function() {
  // Add click event listener to table header th elements
  $("#myTable th").click(function() {
    // Toggle class on table to indicate expanded state
    $("#myTable").toggleClass("expanded");
  });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
<!-- Custom JS -->
<script src="{% static 'KwentasApp/js/script.js' %}"></script>
<script>
  const optionMenu = document.querySelector(".select-menu"),
         selectBtn = optionMenu.querySelector(".select-btn"),
         options = optionMenu.querySelectorAll(".option"),
         sBtn_text = optionMenu.querySelector(".sBtn-text");
  selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       
  options.forEach(option =>{
      option.addEventListener("click", ()=>{
          let selectedOption = option.querySelector(".option-text").innerText;
          sBtn_text.innerText = selectedOption;
          optionMenu.classList.remove("active");
      });
  });
  </script>   
  </body>
</html>