{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="{% static 'KwentasApp/img/logobrowser.jpg' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/projectreports.css' %}">
    <title>Kwentas Klaras Reports</title>

    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script>
        function selectProject(entryId) {
        

            // Show the form for the selected entry
            var selectedForm = document.getElementById('form-' + entryId);
            if (selectedForm) {
                selectedForm.classList.remove('hidden');
            }

            document.getElementById('project-list').style.display = "none";
            
        }
    </script>
</head>

<body>
    <!-- Main Content -->
    <div class="content no-sidebar">
        <main>
            <div class="header">
                <div class="left">
                    <h1>Project Reports</h1>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download Reports</span>
                </a>
            </div>

            <!-- Insights -->
           
          
            <div class="bottom-data">
                <div class="left-column">
                    <a href="#" class="card half-width-card">
                        <div class="header">
                            <i class='bx bx-check-circle'></i>
                            <h3>Physical Accomplishment</h3>
                           
                        </div>
                    </a>
                    <a href="#" class="card half-width-card">
                        <div class="header">
                            <i class='bx bx-money'></i>
                            <h3>Financial Accomplishment</h3>
                           
                        </div>
                    </a>
                </div>
                
                <div class="right-column">
                    <div class="card big-card">
                        <div class="header">
                

                            <form method="GET" class="search">
                                <input type="text" name="search" placeholder="Search ...." value="{{ search_query }}">
                              
                            </form>
                        </div>
                        <div id="project-list" class="project-list">
                            {% if all_entries %}
                                {% for entry in all_entries %}
                                <div class="project-item" >
                                  
                                    <div class="project-entry" onclick="selectProject('{{ entry.code }}')">
                                        <h2>Project Code: {{ entry.code }}</h2>
                                        <p><strong>Year:</strong> {{ entry.year }}</p>
                                        <p><strong>PPA:</strong> {{ entry.ppa }}</p>
                                       
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <p>No matching entries found.</p>
                            {% endif %}
                        </div>

                        {% for entry in all_entries %}
                        <div class="list hidden"  id="form-{{ entry.code }}">
                            <form method="GET" action="{% url 'download_word' entry.code %}">
                                <button type="submit" class="word-button">Download as Word</button>
                           
                            {% csrf_token %}
                        <ul class="user-list">
                            <li class="user-input-box">
                                <label for="ppa">PPA:</label>
                                <p class="user-text">{{ entry.ppa }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="implementing_unit">Implementing Unit:</label>
                                <p class="user-text">{{ entry.implementing_unit }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="location">Location:</label>
                                <p class="user-text">{{ entry.location }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="appropriation">Appropriation:</label>
                                <p class="user-text">{{ entry.appropriation }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="start_date">Start Date:</label>
                                <p class="user-text">{{ entry.start_date }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="end_date">End Date:</label>
                                <p class="user-text">{{ entry.end_date }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="remarks">Remarks:</label>
                                <p class="user-text">{{ entry.remarks }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="remaining_balance">Remaining Balance:</label>
                                <p class="user-text">{{ entry.remaining_balance }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="total_spent">Total Spent:</label>
                                <p class="user-text">{{ entry.total_spent }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="added_budget">Added Budget:</label>
                                <p class="user-text">{{ entry.added_budget }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="total_budget">Total Budget:</label>
                                <p class="user-text">{{ entry.total_budget }}</p>
                            </li>
                            <li class="user-input-box">
                                <label for="utilization_rate">Utilization Rate:</label>
                                <p class="user-text">{{ entry.utilization_rate }}</p>
                            </li>
                            <li class="obli_budget_list">
                                <strong>Obligation:</strong>
                                <ul>
                                    {% for obligation in entry.obligation %}
                                    <li>{{ obligation.name }}: {{ obligation.spent }} ({{ obligation.date }})</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="obli_budget_list">
                                <strong>Budget Data:</strong>
                                <ul>
                                    {% for budget in entry.budget_data %}
                                    <li>{{ budget.name }}: {{ budget.added_budget }} ({{ budget.date }})</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            
                        </ul>
                    </form>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
                
           
            </div>
        </main>
    </div>
    <form action="{%url 'homepage' %}"> {% csrf_token %}<input type="submit" value="Back" class="btn sticky-btn"/></form>
   

  
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('.report').addEventListener('click', function () {
                html2canvas(document.body).then(function (canvas) {
                    var link = document.createElement('a');
                    link.download = 'dashboard.png';
                    link.href = canvas.toDataURL();
                    link.click();
                });
            });
        });
    </script>
</body>

</html>
