{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="{% static 'KwentasApp/img/logobrowser.jpg' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'KwentasApp/css/reports.css' %}">
    <title>Kwentas Klaras Reports</title>
</head>

<body>
    <!-- Main Content -->
    <div class="content no-sidebar">
        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download Reports</span>
                </a>
            </div>

            <!-- Insights -->
            <ul class="insights">
                <li>
                    <i class='bx bx-check'></i>
                    <span class="info">
                        <h3></h3>
                        <p><strong>Projects</strong></p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-chevron-left-square'></i>
                    <span class="info">
                        <h3></h3>
                        <p><strong>Current Projects</strong></p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-check-circle'></i>
                    <span class="info">
                        <h3></h3>
                        <p><strong>Continuing Projects</strong></p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-money-withdraw'></i>
                    <span class="info">
                        <h3></h3>
                        <p><strong>Budget Utilization Rate</strong></p>
                    </span>
                </li>
            </ul>

            <h1 style="margin-bottom: 15px;">Project Report</h1>
            <div class="bottom-data">
                <div class="left-column">
                    <div class="card half-width-card">
                        <div class="header">
                            <i class='bx bx-receipt'></i>
                            <h3>Physical Accomplishment</h3>
                        </div>
                    </div>
                    <div class="card half-width-card">
                        <div class="header">
                            <i class='bx bx-note'></i>
                            <h3>Financial Accomplishment</h3>
                        </div>
                    </div>
                </div>
                <div class="right-column">
                    <div class="card big-card">
                        <div class="header">
                            <i class='bx bx-bar-chart-alt'></i>
                            <h3>Project Reports</h3>
                        </div>
                        <canvas id="myChart4" style="width:100%;max-width:700px"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Overall Utilization Rate</h3>
                    </div>
                    <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
                </div>
                <div class="card">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Utilization Rate by Department</h3>
                    </div>
                    <canvas id="myChart3" style="width:100%;max-width:700px"></canvas>
                </div>
            </div>
            

        </main>
    </div>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('.report').addEventListener('click', function () {
                html2canvas(document.body).then(function (canvas) {
                    var link = document.createElement('a');
                    link.download = 'dashboard.png';
                    link.href = canvas.toDataURL();
                    link.click();
                });
            });
        });
    </script>
    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        var xValues = ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"];
        var yValues = [12, 19, 3, 5, 2, 3];
        var barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145", "#f09609"];
        new Chart("myChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Utilization Rate"
                }
            }
        });
        new Chart("myChart1", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Utilization rate by Department"
                }
            }
        });
        new Chart("myChart2", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Projects by Department"
                }
            }
        });
        new Chart("myChart3", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Additional Projects"
                }
            }
        });
    </script>
</body>

</html>
